<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <center>
        <h1>Welcome to Our Page</h1>
        <h2>Let's get register</h2>
        <!--
            urlname = it is provided while url mapping i.e, urlmappingname
            {% url 'namespae_of_app : url_name_or_view_name_of_that_app' %}

        -->
        <a href="{% url 'app2:login' %}">Login</a>
    </center>
</body>
</html>
